<% provide :page_title, 'Registration' %>

<h1>Registration</h1>

<%= render 'shared/errors', object: @user %>

<%= form_with model: @user, data: { turbo: false } do |form| %>
  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= form.label :name %>
    </div>

    <div class="col-sm-10">
      <%= form.text_field :name, required: true, minlength: 3  , placeholder: 'Ivan', class: "form-control" %>
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= form.label :email, class: 'col-sm-2 col-form-label' %>
    </div>

    <div class="col-sm-10">
      <%= form.email_field :email, required: true, placeholder: 'ivan@mail.ru', class: 'form-control' %>
    </div>
  </div>

  <%= form.submit "Register", class: "btn btn-primary" %>
<% end %>
