<h1> New user </h1>

<div class="col-2">
<%= form_with model: @user do |form| %>
  <%= form.label :name, "Имя: " %>
  <%= form.text_field :name %>
  <%= form.label :email, "Email:" %>
  <%= form.text_field :email %>
  <%= form.submit %>
<% end %>
</div>
